

.Sh {
  width: 20rem;
  height: 20rem;
  border-radius: 1rem;
}

.imgCon {
    /* display: flex;  */
    flex-direction: column;
    gap: 0; 
}

.ss {
    width: 70rem;
    border: 3px solid gray; 
    border-radius: 1.9rem;

}

.ssCon {
  padding-top: 0;
  margin-top: 3rem
}

.communitySS {
  /* border: 2px solid gray;  */
  border-radius: 1.9rem;
}

.teCon {
   border: 1px solid rgb(136, 172, 83);
   /* padding: 1rem; */
   margin: 0;
}

.smss {
  margin-top: 5rem;
  margin-bottom: 5rem;
  border: 1px solid greenyellow;
  border-radius: 1rem;
}

.smssCon {
  border: 1px solid blue; 
  display: flex;
  justify-content: center;

}