.mainFormCon {
    border: 1px solid red;
    color:white;
    /* width: 100% */
}

/* .formContainer {
    border: 1px solid salmon;
    display: flex;
    flex-direction: column;
    
} */

.wholeFormCon {
    border: 1px solid rgb(238, 11, 86);
    /* padding-top: 2rem; */
    margin-top: 15rem; 
    display: flex;
    flex-direction: column;
    width: 78rem;
    align-items: center;
}


.formCon {
    border: 1px solid greenyellow;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.field {
    font-size: 1.9rem;
    border: 1px solid rgb(238, 11, 86);
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

.btn {
    display: flex;
    justify-content: center;
    border: 1px solid gold;

}

.subBtn {
    width: 10rem;
    padding: 0.9rem;
    font-size: large;
    font-weight: 100;
}