.mainFormCon {
    border: 1px solid red;
    color:white;
    width: 59.7%
}

/* .formContainer {
    border: 1px solid salmon;
    display: flex;
    flex-direction: column;
    
} */

.wholeFormCon {
    border: 1px solid rgb(238, 11, 86);
    /* padding-top: 2rem; */
    margin-top: 10rem; 
    display: flex;
    flex-direction: column;
    width: 76.9rem;
    align-items: center;
}


.formCon {
    border: 1px solid greenyellow;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: rgb(3, 3, 43);
    border-radius: 1rem;
}

.field {
    font-size: 1.9rem;
    /* border: 1px solid rgb(238, 11, 86); */
    /* padding: 1rem; */
    display: flex;
    gap: 1rem;
}

.inp {
    font-size: 1.5rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 0.5rem;
    color:rgb(31, 63, 244);
}

.sel {
    font-size: 1.5rem;
    font-family: cursive;
    border-radius: 0.5rem;
    color:rgb(31, 63, 244);
}

.btn {
    display: flex;
    justify-content: center;
    /* border: 1px solid gold; */
    

}

.subBtn {
    width: 10rem;
    padding: 0.9rem;
    font-size: large;
    font-weight: 100;
    background-color: greenyellow;
    border-radius: 1rem; 
}

.subBtn:hover{
    background-color: oklch(86.142% 0.25495 136.005);
}



.formHeadText {
    font-size: 4rem;
}