.mainFormCon {
    border: 1px solid red;
    color:white;
    width: 59.7%
}

/* .formContainer {
    border: 1px solid salmon;
    display: flex;
    flex-direction: column;
    
} */

.wholeFormCon {
    border: 1px solid rgb(238, 11, 86);
    /* padding-top: 2rem; */
    margin-top: 15rem; 
    display: flex;
    flex-direction: column;
    width: 76.9rem;
    align-items: center;
    
}

.formContainer {
    display: flex; 
    justify-content: center;

}


.formCon {
    border: 1px solid greenyellow;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: oklch(22.62% 0.00418 264.533);
    border-radius: 1rem;
    width: 30rem; 
}

.field {
    font-size: 1.9rem;
    /* border: 1px solid rgb(238, 11, 86); */
    /* padding: 1rem; */
    display: flex;
    gap: 1rem;
}

.inp {
    /* font-size: 1.5rem; */
    border-radius: 0.5rem;
    color:whitesmoke;
    
}

.sel {
    border-radius: 0.5rem;
    color: whitesmoke;
}

.subDetailBtn {
    /* border: 1px solid red;  */
    display: flex; 
    justify-content: center;
}

.subBtn {
    width: 10rem;
    padding: 0.9rem;
    font-size: large;
    font-weight: 100;
    /* background-color: var(--primary-color); */
    border-radius: 1rem; 
}

.subBtn:hover{
    background-color: oklch(86.142% 0.25495 136.005);
}



.formHeadText {
    font-size: 4rem;
}