.qsContainer {
    border: 1px solid blue; 
    display: flex; 
    flex-direction: column;
}

.qCon {
    display: flex; 
    gap: 1rem;
}

.plsBtn {
    
    height: 2.5rem
}

.ques {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0; 
}

.ans {
    font-size: 1.6rem;
    font-style: italic; 
}