.attendUsContainer {
    /* border: 1px solid rgb(252, 2, 190); */
    padding: 2rem;
    width: 40rem;
    height: auto;
    display: flex;

    flex-direction: column;

    border-radius: 2rem;

    background-color: oklch(22.62% 0.00418 264.533);
}


.qsContainer {
    /* border: 1px solid blue;  */
    display: flex;
    flex-direction: column;
}

.qCon {
    display: flex;
    gap: 1rem;
}

.plsBtn {
    height: 2.5rem;
    margin-top: 0.7rem;
}

.ques {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0.8rem;
}

.ans {
    font-size: 1.6rem;
    font-style: italic;
    margin: 0;
    padding: 0 1rem;
}

.testimonialCon {
    display: flex;
    flex-direction: row;
    /* border: 1px solid blue;   */
    flex-wrap: wrap;
    padding: 2.6rem;
}

.testimonialBox {
    border: 1px solid gray;
    padding: 1rem;
    width: 20rem;
    height: 20rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: oklch(22.62% 0.00418 264.533);
    font-size: 1.5rem;
}

.vibrantCon {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red;  */
    padding: 2rem;
    width: 74rem;
    margin-top: 6rem;
    background-color: oklch(22.62% 0.00418 264.533);
    border-radius: 3rem;
}

.eftcBox {
    padding: 0;
    margin-top: 6rem;
}