.activityContainer {
    /* border: 1px solid greenyellow; */
    display: flex; 
    flex-wrap: wrap;
    margin-left: 4rem 

}


.activityBox {
    border: 1px solid greenyellow; 
    width: 20rem; 
    height: 20rem; 
    padding: 1rem;
}

.weekDay {
  font-size: 2rem;
}

.weekActName {
    font-size: 1.5rem;
}

.activityDes {
    font-size: 1.3rem;
}

.activityDetailBtn {
    display: flex; 
    justify-content: center;
    margin-top: 5rem;
}

.actBtn {
    width: 20rem; 
    padding: 1rem; 
    
}

.DetBtn{
    padding: 0.5rem;
    color: white;
}

.DetBtn:hover {
    color: white; 
}