.footerCon {
  background-color: rgb(38, 38, 38);;
  height: 10rem; 
  padding: 1rem 1.9rem; 
  margin-top: 2rem; 
  width: 75.2rem; 
  font-size: 1.5rem;
}


.footCon {
    display: flex; 
    gap: 0.5rem; 
    border: 1px solid plum
}

.footerBox {
    display: flex;
    justify-content: center;
}

.rightsCon {
    display: flex; 
    justify-content: center;
}