
.navContainer {
  /* Background-color:#010a4dff; */
  background-color: white;
  height: 5rem; 
  padding: 1rem 1.9rem; 
  margin-top: 1rem; 
  position: fixed; 
  width: 84rem; 
  border-radius: 5rem;
}


.joinUs{
  position: absolute;
  nav-left: 10rem;
  left:80rem;
  bottom: 1.5rem;
  /* border: 1px solid red; */
  border-radius: 2rem;
  padding:1rem 1rem;
  font-size: 1.5rem;
  background-color: oklch(87.1% 0.15 154.449);
  /* background-color: color rgb(188, 239, 156) */
  font-style: none;
;
}

.joinUs:hover{
  /* background-color:oklch(79.2% 0.209 151.711); */
  background-color: oklch(84.5% 0.143 164.978);
  /* background-color: oklch(87.1% 0.15 154.449); */

}






.ulCon {
  display: flex;
  gap: 2rem; 
  justify-content: center; 
  align-items: flex-end; 
  margin-bottom: 1.5rem;;

}

.liStyl {
  list-style: none;
  
} 

.liText {
  /* color: white; */
  color:#010a4dff;
  text-decoration: none;
  font-size: 1.9rem;
}

.imgContainer {
   display: flex; 
   border: '5px solid green';
   margin: 10rem
}

.imgSecCont {
  border: 1px solid red;
  width: 40rem; 
  height: 30rem;
}

.shortInfoCon {
  border: 1px solid red; 
  width: 40rem; 
  height: 20rem; 
  padding: 2rem;
  margin: 3rem;
}

.missionStatement {
  border: 1px solid rgb(248, 8, 48); 
  /* background-color: #05339C; */
  margin: 7rem 0rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
}

.bigContainer {
  border: 2px solid yellow;
}

.statement {
  color: oklch(48.8% 0.243 264.376);
  font-family: 'Times New Roman';
  font-style: oblique;
}


.background {
  position: static;
  width: 87.8rem;
  height: 80rem;
  background: url("/public/images/img.png");
  background-repeat: no-repeat; /* ✅ stops repeating */
}

.navbar {
  position: absolute;
}



.lines {
  /* position: relative; */
  border: 1px solid red;
  top: 30rem;
  /* margin: 4rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem;
  height: 10rem;

}




