/* :root {
  --primary-color:  oklch(22.62% 0.00418 264.533);
} */

.navContainer {
  background-color: rgb(38, 38, 38);;
  height: 5rem; 
  padding: 1rem 1.9rem; 
  margin-top: 1rem; 
  position: fixed; 
  width: 75.2rem; 
  border-radius: 5rem;
  
}

.navBar{
  display: flex;
  flex-wrap: wrap;
  /* justify-content:space-evenly; */
  gap: 5rem;
  border: 1px solid  salmon;
}


.lnf {
  color: rgb(253, 253, 254);
  border: 1px solid red;
  text-decoration: none;
  font-size: 2rem;
  font-weight:bolder;
  display: flex;
  height: 5rem;

  

}



.joinUs{
  position: absolute;

  left:70rem;
  bottom: 2rem;
  /* border: 1px solid red; */
  border-radius: 2rem;
  padding:1rem 1rem;
  font-size: 1.5rem;
  
  background-color: var(--primary-color);
  
  font-style: none;
 



}

.joinUs:hover{
  /* background-color:oklch(79.2% 0.209 151.711); */
  background-color: oklch(86.142% 0.25495 136.005); 


}






.navItemCon {
  display: flex;
  gap: 2rem; 
  justify-content: center; 
  align-items: flex-end; 
  margin-bottom: 1.5rem;
  

}

.liStyl {
  list-style: none;
  
} 

.liText {

  color:whitesmoke;
  text-decoration: none;
  font-size: 1.9rem;
}



.background {
  /* position: static; */
  width: 79rem;
  height: 60rem;
  background: url("/images/img.png");
  background-size: cover;
  /* background-repeat: no-repeat;  */
  /* ✅ stops repeating */
}

.navbar {
  position: absolute;
}



.lines {
  position: relative;
 
  top: 20rem;
 
  display: flex;
  align-items: center;

  flex-direction: column;
  height: 25rem;
  color: whitesmoke;
  
  font-weight: bold;
 

}

.midh1 {
  font-size: 5rem;
  display: flex;
  justify-content: center;
  border: 1px solid salmon;
  height: 13rem;
  width: 70rem;
  margin-bottom: 2rem;


}

.midp1{
  font-size: 2rem;
  margin-bottom: 2rem;
} 

.midBtn {

  background-color:  var(--primary-color);
 
  padding: 2rem;
  border-radius: 3rem;
  font-weight: bold;
  font-size: 1.5rem;
  
}

.midBtn:hover {
  background-color: oklch(86.142% 0.25495 136.005);
}


/* .container {
  background-color: black;
  
  border: 1px solid red;
  box-sizing: border-box;

  
} */



.imgCon {
  width: 50%;
  /* max-width: rem; */
  height: auto;
  border-radius: 2rem;
  border: 1px solid greenyellow;
}

.vibText {
  color: whitesmoke;
  border: 1px solid greenyellow;
  width: 30rem;
  /* padding: 1rem; */
  padding-top: 4rem;
  margin: 2rem;
  padding-left: 2rem;

}

.textHead{
  font-size: 3rem;
}

.miss {
  font-size: 2rem;
}




.initiator {
  display: flex;
  justify-content: center;
}

.iniContainer {
  color: aliceblue;
   border: 1px solid rgb(47, 168, 255);
   padding-top: 10rem;
   width: 78rem;
}



.iniCon {
   margin: 2rem;
   border: 1px solid greenyellow;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 3rem;
   padding-left: 5rem;
   margin-left: 5rem;
   /* background-color:; */
   gap: 1rem;
   width: 60rem;
   border-radius: 1rem;
}

.iniImg {
   border: 1px solid rgb(136, 172, 83);
   display: flex;
   justify-content: center;
   font-size: 1.5rem;
}

.outComesCon {
  border: 1px solid rgb(136, 172, 83);
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-size: 1.5rem;
}

.iniName {
   border: 1px solid rgb(136, 172, 83);
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 1.5rem;
}

.teContainer {
   border: 1px solid rgb(180, 13, 174);
   /* padding: 0rem 3rem; */
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   width: 78rem;
   margin-top: 0
  
}


.teCon {
   border: 1px solid rgb(136, 172, 83);
   /* padding: 1rem; */
   margin-top: 0;
  
}

.teAbout {
   border: 1px solid rgb(136, 172, 83);
   display: flex;
   justify-content: center;
}

.sceduleCon{
  display: flex;
  padding-left: 18rem;
  border:1px solid rgb(47, 168, 255);
  

}







.attendUsCon .schBox p {
  color: white;
  font-size: 1.5rem;
  
}

.attendUsCon {
  display: flex;
  flex-direction: column;
}

.schBox {
  display: flex;
 
  border: 1px solid salmon
  
  
}

.message {
  border:1px solid rgb(180, 13, 174);
}


.message {
  font-size: 1.6rem;
  border:1px solid rgb(229, 88, 224);
  /* height: 10rem; */
  padding: 2rem 0rem;


}

.schBtnCon {
  display: flex;
  justify-content: center;
}

.scheduleBtn {
  padding: 0.5rem;
  width: 15rem;
}


.headText {
  color:  rgb(47, 168, 255);
  padding: 1rem;
  padding-left: 4rem;
  border:1px solid rgb(180, 13, 174);
}

.headStyle {
  color: white;
  padding-left:33rem;
}